<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.suixingpay.reactNativeModule">

    <uses-permission android:name="android.permission.INTERNET" />

    <application>
        <activity android:name="com.facebook.react.devsupport.DevSettingsActivity" />
        <activity
            android:name=".RNEntryActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"></activity>
    </application>


</manifest>
